/*
the root pseuod-class targets all elements within html tag making variables available for all elements
 */

 :root {
    --primary-color: #357b70;
    --secondary-color: #e0b354;
    --dark-grey: #2b2b2b;
    --background-color: #f2f2f2;
 }

 
body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    /* Sets the body font size to 16px */
    line-height: 1.6;
    /* specifies the height of a line of text */
    position: relative;
    padding-bottom: 95px;
    min-height: 100vh;
}

h1 {
    font-size: 30px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

a {
    color: var(--primary-color);
}

a:visited {
    /* visited link */
    color: var(--primary-color);
}

a:hover, a:focus {
    /* No underlining when hovering over a link */
    text-decoration: none;
    opacity: 0.8;
}

a:active {
    /* selected link */
    color:var(--primary-color);
}

button, .button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: var(--primary-color);
    /* the text color should change to white but it doesn't change unless I add !important */ 
    color: white !important;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 4px;
    border-bottom: 2px solid rgba(0,0,0,0.3);
    transition: 0.5s opacity;
}

button:hover, 
button:focus 
.button:hover,
.button:focus {
    /* this lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* this reduces the opacity of the button to 80% */
    opacity: 0.8;
}

.button_secondary {
    background-color:var(--secondary-color);
    color: var(--dark-grey);
}

.navigation-list__item--active {
    text-decoration: none;
}

.profile__portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
}

.profile {
    max-width: 700px;
    margin: 0 auto;
}

/* Created this "about" class in my about.html file to try to center my text and button */

.about {
    flex-direction: column;
    text-align:center;
}

* {
    box-sizing: border-box;
}

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
    margin-top: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: var(--background-color);
}

.page-header__item {
    flex: 0 1 200px;
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.list {
    list-style-type: none;
}


/* start of the grid fallback */
.grid__item {
    display: inline-block;
    width: 33%;
}
/*end of the grid fallback */ 

@supports (display: grid) {
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
}

.grid__item {
    background-color: lightgrey;
    width: auto;
    min-height: auto;
    margin: 0;
    padding: 20px;
}

.grid__item:last-child {
    grid-column: 3 / 3;
}
}

/* Start of my CSS Animationo code */
@keyframes color-change {
    0%  {
        fill: #edc655;
    }
    50% {
        fill:#fcffad;
    }
    100% {
        fill: #f76414
    }
}

/* long way to write out animation properties
.sun {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
*/ 

/*Short hand for the same above */
.sun {
    animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
    from {
        transform: translate(0, 50px);
    }
    to {
        transform: translate(200px, 50px);
    }
}

.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
    }
    to {
        transform: translate(100px, 48px);
    }
}

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}

@media all and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .grid {
        grid-gap: 10px;
    }
    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto; 
    }
    h1 {
        font-size: 22px;
    }
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  /* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: var(--primary-color);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a secondary color */
  input[type=submit]:hover {
    background-color: var(--secondary-color);
  }
  
  /* Add a background color and some padding around the form */
  .container {
    max-width: 750px;
    border-radius: 5px;
    background-color: var(--background-color);
    padding: 20px;
    margin: 0 auto;
  }